
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
.sign-up {
    background-color: #2a2a88;
}
.input-movies{
    height: 20px;
    border: none;
    background-color: transparent;
}
.green{
    color: #4ebc2f;
    background-color: transparent;
}
.red{
    color: #c02537;
    background-color: transparent;
}
body > div.container-fluid.text-center > div > div.col-sm-8.text-left > div.col-sm-9.text-left > a.edit{
    color: #ff5b62;
}
body > div.container-fluid.text-center > div > div.col-sm-8.text-left > div.col-sm-9.text-left > a.edit:hover{
    color: #ff182f;
}
.edit{
    color: #ff5b62;
}
.edit:hover{
    color: #ff182f;
}
.user{
    color: #92b6d4;
}
.user:hover{
    color: #5f7388;
}
.admin{
    color: #9b9aa0;
}
.admin:hover{
    color: #727177;
}
.selectboxes {

    padding: 10px 0 4px 20px;
}
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

.selectboxes select {
    width: 163px;
    font-family: tahoma, verdana, "trebuchet ms", serif;
    font-size: 12px;
    margin-bottom: 9px;
    padding: 4px 2px;
}
.mainContent {
    background-image:url(images/main/9.jpg);
    height: 100%;
    position: relative;
}
.wrapper{
    background-color: #f1f1f1;
    min-height: 86%;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 7%;
    background-color: #555;
}
#child{
    padding: 1%;
    margin: 0;
}
